<span data-toggle="tooltip" data-placement="left" title="Back">
  <%= link_to cocktails_path, class: "btn btn-outline-light btn-back m-1" do %>
    <div class="d-flex justify-content-center">
      <i class="fas fa-arrow-circle-left"></i>
    </div>
  <% end %>
</span>

<h1 class="text-center m-3">Your Inspiration!</h1>

<%= simple_form_for(@cocktail) do |f| %>

  <% if @cocktail.errors.any? %>
    <% @cocktail.errors.full_messages.each do |message| %>
      <p><%= message %></p>
      <% end %>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: "Add", class: "btn btn-outline-light btn-cocktail mb-2" %>
  </div>
<% end %>
