<span data-toggle="tooltip" data-placement="left" title="Back">
  <%= link_to cocktail_path(@cocktail), class: "btn btn-outline-light btn-back m-1" do %>
    <div class="d-flex justify-content-center">
      <i class="fas fa-arrow-circle-left"></i>
    </div>
  <% end %>
</span>

<h1 class="text-center"> Ingredient </h1>

<%= simple_form_for([@cocktail, @dose]) do |f| %>

  <% if @dose.errors.any? %>
    <% @dose.errors.full_messages.each do |message| %>
      <p><%= message %></p>
      <% end %>
  <% end %>

<div class="form-inputs">
  <%= f.input :description %>
  <%= f.association :ingredient, input_html: { class: 'select2' } %>
</div>

 <div class="form-actions">
  <%= f.button :submit, value: "Add to cocktail", class: "btn btn-outline-light btn-cocktail mb-2" %>
</div>

<% end %>
