<%= simple_form_for([@cocktail, @dose]) do |f| %>

  <% if @dose.errors.any? %>
    <% @dose.errors.full_messages.each do |message| %>
      <p><%= message %></p>
      <% end %>
  <% end %>

<div class="form-inputs">
  <%= f.input :description %>
  <%= f.association :ingredient, input_html: { class: 'select2' } %>
</div>

 <div class="form-actions">
  <%= f.button :submit, value: "Add", class: "btn btn-outline-danger" %>
</div>

<% end %>

<%= link_to cocktail_path(@cocktail) do %>
  <span data-toggle="tooltip" data-placement="top" title="Back"> <i class="fas fa-arrow-circle-left"></i> </span>
<% end %>
