<!DOCTYPE html>
<html>
  <head>
    <title>The Bar Chef</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" type="image/png" href="https://www.flaticon.com/premium-icon/icons/svg/1842/1842276.svg"/>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Pridi&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <% if current_page?(root_path) || current_page?(cocktails_path) %>
      <%= render 'shared/banner' %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>

    <!-- hitwebcounter Code START -->
    <p class="mt-5"> <img src="http://hitwebcounter.com/counter/counter.php?page=7109862&style=0003&nbdigits=3&type=page&initCount=0" title="install tracking codes" Alt="install tracking codes" border="0" id="ppl-counter"> visitors 😊</p>

      <%= javascript_include_tag "application" %>
      <%= javascript_pack_tag "application" %>
  </body>
</html>
